# RockPi 4C / rk3399 board bring-up

# SPL FIT verified boot
CONFIG_SPL_FIT_FULL_CHECK=y
CONFIG_SPL_FIT_SIGNATURE=y
CONFIG_SPL_FIT_SIGNATURE_MAX_SIZE=0x10000000
# CONFIG_LEGACY_IMAGE_FORMAT is not set

# PCIe
CONFIG_PCIE_DW_COMMON=y
CONFIG_PCIE_DW_ROCKCHIP=y
CONFIG_PHY_ROCKCHIP_SNPS_PCIE3=y

# USB host
CONFIG_USB_XHCI_PCI=y
CONFIG_USB_OHCI_NEW=y
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_OHCI_PCI=y
CONFIG_USB_OHCI_GENERIC=y
CONFIG_USB_DWC2=y
CONFIG_USB_DWC2_BUFFER_SIZE=64
CONFIG_ROCKCHIP_USB2_PHY=y
# CONFIG_USB_OHCI_DA8XX is not set
# CONFIG_SYS_OHCI_SWAP_REG_ACCESS is not set
# CONFIG_USB_KEYBOARD is not set
# CONFIG_USB_HOST_ETHER is not set
# WAR build error: undefined reference to `dwc3_gadget_uboot_handle_interrupt'
# CONFIG_USB_DWC3_GADGET is not set
# CONFIG_USB_GADGET is not set
# CONFIG_DM_USB_GADGET is not set

# Watchdog (DesignWare)
CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_AUTOSTART=y
CONFIG_DESIGNWARE_WATCHDOG=y
CONFIG_WDT=y
CONFIG_CMD_WDT=y

# Misc board
# CONFIG_DM_KEYBOARD is not set
# CONFIG_OF_LIBFDT_OVERLAY is not set
CONFIG_DFU_SF=y
CONFIG_SYS_LOAD_ADDR=0x200000
