# EFI boot services + UEFI SecureBoot + EFI variable runtime
CONFIG_EFI_LOADER=y
CONFIG_BOOTM_EFI=y
CONFIG_CMD_BOOTEFI=y
CONFIG_CMD_EFICONFIG=y
CONFIG_EFI_SECURE_BOOT=y
CONFIG_EFI_VAR_BUF_SIZE=65536
CONFIG_CMD_NVEDIT_EFI=y
CONFIG_CMD_EFIDEBUG=y
