# fTPM (Microsoft reference TPM 2.0 as an OP-TEE TA) + TPM2 stack + TCG2 eventlog
# TODO: trim to the minimal necessary set once validated on hardware
CONFIG_TPM=y
CONFIG_TPM_V2=y
CONFIG_TPM_RNG=y
CONFIG_TPM2_FTPM_TEE=y
CONFIG_CMD_TPM=y
CONFIG_CMD_TPM_V2=y
CONFIG_EFI_TCG2_PROTOCOL=y
CONFIG_EFI_TCG2_PROTOCOL_EVENTLOG_SIZE=65536

# Hashing used by measured boot / TCG2
CONFIG_CMD_HASH=y
CONFIG_HASH_VERIFY=y
CONFIG_SHA384=y
CONFIG_SHA512=y
CONFIG_SMBIOS_PARSER=y
