# eMMC RPMB secure storage (via OP-TEE) and EFI variables stored in RPMB
CONFIG_SUPPORT_EMMC_RPMB=y
CONFIG_CMD_MMC_RPMB=y
CONFIG_CMD_OPTEE_RPMB=y
CONFIG_EFI_MM_COMM_TEE=y
# CONFIG_EFI_VARIABLE_FILE_STORE is not set
